server/public/xsd/CTR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- created by National Bank of Cambodia: CTR Version 1.2 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:is="http://www.nbc.org.kh" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LCTR">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="ReportingEntityID" type="xs:positiveInteger"/>
					<xs:element name="ReportingEntityDescription">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ReportingEntityInfo">
									<xs:complexType>
										<xs:choice>
											<xs:element name="LegalEntity" type="LegalEntityType"/>
											<xs:element name="Individual" type="IndividualType"/>
											<xs:element name="GovernmentName" nillable="false">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="NGOName" nillable="false">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element name="Address" type="AddressType"/>
								<xs:element name="ContactPerson">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Name" nillable="false">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([a-zA-Z]*[ ]*[/]*)+"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Address" type="xs:string" nillable="false"/>
											<xs:element name="Phone" type="PhoneType"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
				<xs:element name="Report">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="ReportIdentifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-Z0-9]{15}|NIL"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AmendedReportIndicator" type="xs:boolean" nillable="true"/>
							<xs:element name="ReportPreparationDate" type="xs:date"/>
							<xs:element name="ReportTransmissionDate" type="xs:date"/>
							<xs:element name="Transaction">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TransactionDate" type="xs:date"/>
										<xs:element name="TransactionAmount" type="xs:decimal"/>
										<xs:element name="TransactionCurrencyCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="KHR"/>
													<xs:enumeration value="USD"/>
													<xs:enumeration value="EUR"/>
													<xs:enumeration value="AUD"/>
													<xs:enumeration value="AOA"/>
													<xs:enumeration value="ARS"/>
													<xs:enumeration value="AMD"/>
													<xs:enumeration value="AWG"/>
													<xs:enumeration value="AZM"/>
													<xs:enumeration value="BSD"/>
													<xs:enumeration value="BHD"/>
													<xs:enumeration value="BDT"/>
													<xs:enumeration value="BBD"/>
													<xs:enumeration value="BYR"/>
													<xs:enumeration value="BZD"/>
													<xs:enumeration value="BMD"/>
													<xs:enumeration value="BTN"/>
													<xs:enumeration value="INR"/>
													<xs:enumeration value="BOV"/>
													<xs:enumeration value="BOB"/>
													<xs:enumeration value="BAM"/>
													<xs:enumeration value="BWP"/>
													<xs:enumeration value="BRL"/>
													<xs:enumeration value="BND"/>
													<xs:enumeration value="BGL"/>
													<xs:enumeration value="BGN"/>
													<xs:enumeration value="BIF"/>
													<xs:enumeration value="ADP"/>
													<xs:enumeration value="CAD"/>
													<xs:enumeration value="CVE"/>
													<xs:enumeration value="KYD"/>
													<xs:enumeration value="XAF"/>
													<xs:enumeration value="CLF"/>
													<xs:enumeration value="CLP"/>
													<xs:enumeration value="CNY"/>
													<xs:enumeration value="COP"/>
													<xs:enumeration value="KMF"/>
													<xs:enumeration value="CDF"/>
													<xs:enumeration value="CRC"/>
													<xs:enumeration value="HRK"/>
													<xs:enumeration value="CUP"/>
													<xs:enumeration value="CYP"/>
													<xs:enumeration value="CZK"/>
													<xs:enumeration value="DKK"/>
													<xs:enumeration value="DJF"/>
													<xs:enumeration value="DOP"/>
													<xs:enumeration value="TPE"/>
													<xs:enumeration value="ECV"/>
													<xs:enumeration value="ECS"/>
													<xs:enumeration value="EGP"/>
													<xs:enumeration value="SVC"/>
													<xs:enumeration value="ERN"/>
													<xs:enumeration value="EEK"/>
													<xs:enumeration value="ETB"/>
													<xs:enumeration value="FKP"/>
													<xs:enumeration value="FJD"/>
													<xs:enumeration value="GMD"/>
													<xs:enumeration value="GEL"/>
													<xs:enumeration value="GHC"/>
													<xs:enumeration value="GIP"/>
													<xs:enumeration value="GTQ"/>
													<xs:enumeration value="GNF"/>
													<xs:enumeration value="GWP"/>
													<xs:enumeration value="GYD"/>
													<xs:enumeration value="HTG"/>
													<xs:enumeration value="HNL"/>
													<xs:enumeration value="HKD"/>
													<xs:enumeration value="HUF"/>
													<xs:enumeration value="ISK"/>
													<xs:enumeration value="IDR"/>
													<xs:enumeration value="IRR"/>
													<xs:enumeration value="IQD"/>
													<xs:enumeration value="ILS"/>
													<xs:enumeration value="JMD"/>
													<xs:enumeration value="JPY"/>
													<xs:enumeration value="JOD"/>
													<xs:enumeration value="KZT"/>
													<xs:enumeration value="KES"/>
													<xs:enumeration value="DZD"/>
													<xs:enumeration value="KPW"/>
													<xs:enumeration value="KRW"/>
													<xs:enumeration value="KWD"/>
													<xs:enumeration value="KGS"/>
													<xs:enumeration value="LAK"/>
													<xs:enumeration value="LVL"/>
													<xs:enumeration value="LBP"/>
													<xs:enumeration value="LSL"/>
													<xs:enumeration value="LRD"/>
													<xs:enumeration value="LYD"/>
													<xs:enumeration value="CHF"/>
													<xs:enumeration value="LTL"/>
													<xs:enumeration value="MOP"/>
													<xs:enumeration value="MKD"/>
													<xs:enumeration value="MGF"/>
													<xs:enumeration value="MWK"/>
													<xs:enumeration value="MYR"/>
													<xs:enumeration value="MVR"/>
													<xs:enumeration value="MTL"/>
													<xs:enumeration value="ALL"/>
													<xs:enumeration value="MRO"/>
													<xs:enumeration value="MUR"/>
													<xs:enumeration value="MXN"/>
													<xs:enumeration value="MXV"/>
													<xs:enumeration value="MDL"/>
													<xs:enumeration value="MNT"/>
													<xs:enumeration value="XCD"/>
													<xs:enumeration value="MZM"/>
													<xs:enumeration value="MMK"/>
													<xs:enumeration value="ZAR"/>
													<xs:enumeration value="NAD"/>
													<xs:enumeration value="NPR"/>
													<xs:enumeration value="ANG"/>
													<xs:enumeration value="XPF"/>
													<xs:enumeration value="NZD"/>
													<xs:enumeration value="NIO"/>
													<xs:enumeration value="NGN"/>
													<xs:enumeration value="NOK"/>
													<xs:enumeration value="OMR"/>
													<xs:enumeration value="PKR"/>
													<xs:enumeration value="PAB"/>
													<xs:enumeration value="PGK"/>
													<xs:enumeration value="PYG"/>
													<xs:enumeration value="PEN"/>
													<xs:enumeration value="PHP"/>
													<xs:enumeration value="PLN"/>
													<xs:enumeration value="AFA"/>
													<xs:enumeration value="QAR"/>
													<xs:enumeration value="SPM"/>
													<xs:enumeration value="RSD"/>
													<xs:enumeration value="RUB"/>
													<xs:enumeration value="RUR"/>
													<xs:enumeration value="RWF"/>
													<xs:enumeration value="SHP"/>
													<xs:enumeration value="WST"/>
													<xs:enumeration value="STD"/>
													<xs:enumeration value="SAR"/>
													<xs:enumeration value="SCR"/>
													<xs:enumeration value="SLL"/>
													<xs:enumeration value="SGD"/>
													<xs:enumeration value="SKK"/>
													<xs:enumeration value="SIT"/>
													<xs:enumeration value="SBD"/>
													<xs:enumeration value="SOS"/>
													<xs:enumeration value="LKR"/>
													<xs:enumeration value="SDD"/>
													<xs:enumeration value="SRG"/>
													<xs:enumeration value="SZL"/>
													<xs:enumeration value="SEK"/>
													<xs:enumeration value="SYP"/>
													<xs:enumeration value="TWD"/>
													<xs:enumeration value="TJS"/>
													<xs:enumeration value="TZS"/>
													<xs:enumeration value="THB"/>
													<xs:enumeration value="XOF"/>
													<xs:enumeration value="TOP"/>
													<xs:enumeration value="TTD"/>
													<xs:enumeration value="TND"/>
													<xs:enumeration value="TRL"/>
													<xs:enumeration value="TMM"/>
													<xs:enumeration value="UGX"/>
													<xs:enumeration value="UAH"/>
													<xs:enumeration value="AED"/>
													<xs:enumeration value="GBP"/>
													<xs:enumeration value="USS"/>
													<xs:enumeration value="USN"/>
													<xs:enumeration value="UYU"/>
													<xs:enumeration value="UZS"/>
													<xs:enumeration value="VUV"/>
													<xs:enumeration value="VEB"/>
													<xs:enumeration value="VND"/>
													<xs:enumeration value="MAD"/>
													<xs:enumeration value="YER"/>
													<xs:enumeration value="YUM"/>
													<xs:enumeration value="ZMK"/>
													<xs:enumeration value="ZWD"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransactionSeriesIndicator" type="xs:boolean"/>
										<xs:element name="TransactionType" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="DEPOSIT"/>		<!-- Banks -->
													<xs:enumeration value="WITHDRAWAL"/>
													<xs:enumeration value="PAYMENT"/>
													<xs:enumeration value="CONVERSION"/>
													<xs:enumeration value="BUY"/>			<!-- Securities Firms -->
													<xs:enumeration value="SELL"/>
													<xs:enumeration value="CANCEL"/>
													<xs:enumeration value="TRANSFER"/>
													<xs:enumeration value="CHIP PURCHASE"/>		<!-- Casinos -->
													<xs:enumeration value="CHIP REDEMPTION"/>
													<xs:enumeration value="JACKPOT OR LARGE WIN PAYMENT"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BranchName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransactionParticipants" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="ParticipantType">
											<xs:complexType>
												<xs:choice>
													<xs:element name="Individual" type="IndividualType"/>
													<xs:element name="LegalEntity" type="LegalEntityType"/>
													<xs:element name="GovernmentName" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NGOName" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="ParticipantRole">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="PRINCIPAL"/>
													<xs:enumeration value="PROXY"/>
													<xs:enumeration value="BENEFICIARY"/>
													<xs:enumeration value="INTERMEDIARY"/>
                          <xs:enumeration value="PLAYER"/>
                          <xs:enumeration value="JUNKET"/>
                          <xs:enumeration value="AGENT"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Address" type="AddressType"/>
										<xs:element name="Phone" type="PhoneType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransactionAccounts" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="TransactionAccountNumber" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="40"/>
													<xs:pattern value="([A-Za-z0-9.:\- ]*)+"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AccountType" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="SAVINGS"/>		<!-- Banks -->
													<xs:enumeration value="CURRENT"/>
													<xs:enumeration value="LOAN"/>
													<xs:enumeration value="TERM DEPOSIT"/>
													<xs:enumeration value="TRADING"/>		<!-- Securities Firms -->
													<xs:enumeration value="OTHER"/>			<!-- ALL	-->
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AccountRole">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="DEBIT"/>
													<xs:enumeration value="CREDIT"/>
													<xs:enumeration value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BranchName" type="xs:string"/>
										<xs:element name="TransactionAccountOwners" nillable="false">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:choice>
														<xs:element name="Individual" type="IndividualType"/>
														<xs:element name="LegalEntity" type="LegalEntityType"/>
														<xs:element name="GovernmentOrNGO">
															<xs:complexType>
																<xs:choice>
																	<xs:element name="GovernmentName" nillable="false">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="NGOName" nillable="false">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="([a-zA-Z0-9]*[ ]*[/]*)+"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:choice>
															</xs:complexType>
														</xs:element>
													</xs:choice>
													<xs:element name="Address" type="AddressType" nillable="false"/>
													<xs:element name="Phone" type="PhoneType" nillable="false"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PhoneType">
		<xs:sequence>
			<xs:element name="HomePhone" type="PhoneNumberType"/>
			<xs:element name="BusinessPhone" type="PhoneNumberType"/>
			<xs:element name="MobilePhone" type="PhoneNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="BuildingNumber" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StreetName" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StreetType" type="xs:string"/>
			<xs:element name="GroupNumber"/>
			<xs:element name="Village"/>
			<xs:element name="Commune"/>
			<xs:element name="DistrictName"/>
			<xs:element name="Province"/>
			<xs:element name="POBox"/>
			<xs:element name="PostalCode"/>
			<xs:element ref="CountryCodeType"/>
			<xs:element name="AddressTemp1" type="xs:string" nillable="true"/>
			<xs:element name="AddressTemp2" type="xs:string" nillable="true"/>
			<xs:element name="AddressTemp3" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:sequence>
			<xs:element name="FirstName_Latin" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MiddleName_Latin" type="xs:string" nillable="true"/>
			<xs:element name="LastName_Latin" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstName_Khmer" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MiddleName_Khmer" nillable="true"/>
			<xs:element name="LastName_Khmer" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegalEntityNumericIdentifierType">
		<xs:choice>
			<xs:element name="TaxIdentificationNumber" type="xs:positiveInteger" nillable="true"/>
			<xs:element name="ValidIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidIDNumber" type="xs:string" nillable="false"/>
						<xs:element name="ValidIDDescription" type="xs:string" nillable="false"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NumericIdentifierType">
		<xs:choice>
			<xs:element name="NationalD">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NationalID" type="xs:string" nillable="false"/>
						<xs:element name="ExpireDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Passport">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PassportNumber" nillable="false">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="[A-Za-z0-9]{6,10}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="CountryCodeType"/>
						<xs:element name="ExpireDate" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ValidIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValidIdentifier" type="xs:string" nillable="false"/>
						<xs:element name="ValidIdentifierDescription" type="xs:string" nillable="false"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="CountryCodeType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="AFG"/>
				<xs:enumeration value="AGO"/>
				<xs:enumeration value="AIA"/>
				<xs:enumeration value="ALB"/>
				<xs:enumeration value="AND"/>
				<xs:enumeration value="ANT"/>
				<xs:enumeration value="ARE"/>
				<xs:enumeration value="ARG"/>
				<xs:enumeration value="ARM"/>
				<xs:enumeration value="ASM"/>
				<xs:enumeration value="ATA"/>
				<xs:enumeration value="ATF"/>
				<xs:enumeration value="ATG"/>
				<xs:enumeration value="AUS"/>
				<xs:enumeration value="AUT"/>
				<xs:enumeration value="AZE"/>
				<xs:enumeration value="BDI"/>
				<xs:enumeration value="BEL"/>
				<xs:enumeration value="BEN"/>
				<xs:enumeration value="BFA"/>
				<xs:enumeration value="BGD"/>
				<xs:enumeration value="BGR"/>
				<xs:enumeration value="BHR"/>
				<xs:enumeration value="BHS"/>
				<xs:enumeration value="BIH"/>
				<xs:enumeration value="BLR"/>
				<xs:enumeration value="BLZ"/>
				<xs:enumeration value="BMU"/>
				<xs:enumeration value="BOL"/>
				<xs:enumeration value="BRA"/>
				<xs:enumeration value="BRB"/>
				<xs:enumeration value="BRN"/>
				<xs:enumeration value="BTN"/>
				<xs:enumeration value="BVT"/>
				<xs:enumeration value="BWA"/>
				<xs:enumeration value="CAF"/>
				<xs:enumeration value="CAN"/>
				<xs:enumeration value="CCK"/>
				<xs:enumeration value="CHE"/>
				<xs:enumeration value="CHL"/>
				<xs:enumeration value="CHN"/>
				<xs:enumeration value="CIV"/>
				<xs:enumeration value="CMR"/>
				<xs:enumeration value="COD"/>
				<xs:enumeration value="COG"/>
				<xs:enumeration value="COK"/>
				<xs:enumeration value="COL"/>
				<xs:enumeration value="COM"/>
				<xs:enumeration value="CPV"/>
				<xs:enumeration value="CRI"/>
				<xs:enumeration value="CUB"/>
				<xs:enumeration value="CXR"/>
				<xs:enumeration value="CYM"/>
				<xs:enumeration value="CYP"/>
				<xs:enumeration value="CZE"/>
				<xs:enumeration value="DEU"/>
				<xs:enumeration value="DJI"/>
				<xs:enumeration value="DMA"/>
				<xs:enumeration value="DNK"/>
				<xs:enumeration value="DOM"/>
				<xs:enumeration value="DZA"/>
				<xs:enumeration value="ECU"/>
				<xs:enumeration value="EGY"/>
				<xs:enumeration value="ERI"/>
				<xs:enumeration value="ESH"/>
				<xs:enumeration value="ESP"/>
				<xs:enumeration value="EST"/>
				<xs:enumeration value="ETH"/>
				<xs:enumeration value="FIN"/>
				<xs:enumeration value="FJI"/>
				<xs:enumeration value="FLK"/>
				<xs:enumeration value="FRA"/>
				<xs:enumeration value="FRO"/>
				<xs:enumeration value="FSM"/>
				<xs:enumeration value="FXX"/>
				<xs:enumeration value="GAB"/>
				<xs:enumeration value="GBR"/>
				<xs:enumeration value="GEO"/>
				<xs:enumeration value="GHA"/>
				<xs:enumeration value="GIB"/>
				<xs:enumeration value="GIN"/>
				<xs:enumeration value="GLP"/>
				<xs:enumeration value="GMB"/>
				<xs:enumeration value="GNB"/>
				<xs:enumeration value="GNQ"/>
				<xs:enumeration value="GRC"/>
				<xs:enumeration value="GRD"/>
				<xs:enumeration value="GRL"/>
				<xs:enumeration value="GTM"/>
				<xs:enumeration value="GUF"/>
				<xs:enumeration value="GUM"/>
				<xs:enumeration value="GUY"/>
				<xs:enumeration value="HKG"/>
				<xs:enumeration value="HMD"/>
				<xs:enumeration value="HND"/>
				<xs:enumeration value="HRV"/>
				<xs:enumeration value="HTI"/>
				<xs:enumeration value="HUN"/>
				<xs:enumeration value="IDN"/>
				<xs:enumeration value="IND"/>
				<xs:enumeration value="IOT"/>
				<xs:enumeration value="IRL"/>
				<xs:enumeration value="IRN"/>
				<xs:enumeration value="IRQ"/>
				<xs:enumeration value="ISL"/>
				<xs:enumeration value="ISR"/>
				<xs:enumeration value="ITA"/>
				<xs:enumeration value="JAM"/>
				<xs:enumeration value="JOR"/>
				<xs:enumeration value="JPN"/>
				<xs:enumeration value="KAZ"/>
				<xs:enumeration value="KEN"/>
				<xs:enumeration value="KGZ"/>
				<xs:enumeration value="KHM"/>
				<xs:enumeration value="KIR"/>
				<xs:enumeration value="KNA"/>
				<xs:enumeration value="KOR"/>
				<xs:enumeration value="KWT"/>
				<xs:enumeration value="LAO"/>
				<xs:enumeration value="LBN"/>
				<xs:enumeration value="LBR"/>
				<xs:enumeration value="LBY"/>
				<xs:enumeration value="LCA"/>
				<xs:enumeration value="LIE"/>
				<xs:enumeration value="LKA"/>
				<xs:enumeration value="LSO"/>
				<xs:enumeration value="LTU"/>
				<xs:enumeration value="LUX"/>
				<xs:enumeration value="LVA"/>
				<xs:enumeration value="MAC"/>
				<xs:enumeration value="MAR"/>
				<xs:enumeration value="MCO"/>
				<xs:enumeration value="MDA"/>
				<xs:enumeration value="MDG"/>
				<xs:enumeration value="MDV"/>
				<xs:enumeration value="MEX"/>
				<xs:enumeration value="MHL"/>
				<xs:enumeration value="MKD"/>
				<xs:enumeration value="MLI"/>
				<xs:enumeration value="MLT"/>
				<xs:enumeration value="MMR"/>
				<xs:enumeration value="MNG"/>
				<xs:enumeration value="MNP"/>
				<xs:enumeration value="MOZ"/>
				<xs:enumeration value="MRT"/>
				<xs:enumeration value="MSR"/>
				<xs:enumeration value="MTQ"/>
				<xs:enumeration value="MUS"/>
				<xs:enumeration value="MWI"/>
				<xs:enumeration value="MYS"/>
				<xs:enumeration value="MYT"/>
				<xs:enumeration value="NAM"/>
				<xs:enumeration value="NCL"/>
				<xs:enumeration value="NER"/>
				<xs:enumeration value="NFK"/>
				<xs:enumeration value="NGA"/>
				<xs:enumeration value="NIC"/>
				<xs:enumeration value="NIU"/>
				<xs:enumeration value="NLD"/>
				<xs:enumeration value="NOR"/>
				<xs:enumeration value="NPL"/>
				<xs:enumeration value="NRU"/>
				<xs:enumeration value="NZL"/>
				<xs:enumeration value="OMN"/>
				<xs:enumeration value="PAK"/>
				<xs:enumeration value="PAN"/>
				<xs:enumeration value="PCN"/>
				<xs:enumeration value="PER"/>
				<xs:enumeration value="PHL"/>
				<xs:enumeration value="PLW"/>
				<xs:enumeration value="PNG"/>
				<xs:enumeration value="POL"/>
				<xs:enumeration value="PRI"/>
				<xs:enumeration value="PRK"/>
				<xs:enumeration value="PRT"/>
				<xs:enumeration value="PRY"/>
				<xs:enumeration value="PYF"/>
				<xs:enumeration value="QAT"/>
				<xs:enumeration value="REU"/>
				<xs:enumeration value="ROM"/>
				<xs:enumeration value="RUS"/>
				<xs:enumeration value="RWA"/>
				<xs:enumeration value="SAU"/>
				<xs:enumeration value="SDN"/>
				<xs:enumeration value="SEN"/>
				<xs:enumeration value="SGP"/>
				<xs:enumeration value="SGS"/>
				<xs:enumeration value="SHN"/>
				<xs:enumeration value="SJM"/>
				<xs:enumeration value="SLB"/>
				<xs:enumeration value="SLE"/>
				<xs:enumeration value="SLV"/>
				<xs:enumeration value="SMR"/>
				<xs:enumeration value="SOM"/>
				<xs:enumeration value="SPM"/>
				<xs:enumeration value="SRB"/>
				<xs:enumeration value="STP"/>
				<xs:enumeration value="SUR"/>
				<xs:enumeration value="SVK"/>
				<xs:enumeration value="SVN"/>
				<xs:enumeration value="SWE"/>
				<xs:enumeration value="SWZ"/>
				<xs:enumeration value="SYC"/>
				<xs:enumeration value="SYR"/>
				<xs:enumeration value="TCA"/>
				<xs:enumeration value="TCD"/>
				<xs:enumeration value="TGO"/>
				<xs:enumeration value="THA"/>
				<xs:enumeration value="TJK"/>
				<xs:enumeration value="TKL"/>
				<xs:enumeration value="TKM"/>
				<xs:enumeration value="TMP"/>
				<xs:enumeration value="TON"/>
				<xs:enumeration value="TTO"/>
				<xs:enumeration value="TUN"/>
				<xs:enumeration value="TUR"/>
				<xs:enumeration value="TUV"/>
				<xs:enumeration value="TWN"/>
				<xs:enumeration value="TZA"/>
				<xs:enumeration value="UGA"/>
				<xs:enumeration value="UKR"/>
				<xs:enumeration value="UMI"/>
				<xs:enumeration value="URY"/>
				<xs:enumeration value="USA"/>
				<xs:enumeration value="UZB"/>
				<xs:enumeration value="VAT"/>
				<xs:enumeration value="VCT"/>
				<xs:enumeration value="VEN"/>
				<xs:enumeration value="VGB"/>
				<xs:enumeration value="VIR"/>
				<xs:enumeration value="VNM"/>
				<xs:enumeration value="VUT"/>
				<xs:enumeration value="WLF"/>
				<xs:enumeration value="WSM"/>
				<xs:enumeration value="YEM"/>
				<xs:enumeration value="YUG"/>
				<xs:enumeration value="ZAF"/>
				<xs:enumeration value="ZMB"/>
				<xs:enumeration value="ZWE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="OccupationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Military/National Defense"/>
			<xs:enumeration value="Law Enforcement"/>
			<xs:enumeration value="Government"/>
			<xs:enumeration value="Manager/Executive"/>
			<xs:enumeration value="Financial Professional"/>
			<xs:enumeration value="Legal Professional"/>
			<xs:enumeration value="IT Professional"/>
			<xs:enumeration value="Engineering/Scientific"/>
			<xs:enumeration value="Writer/Journalist/Media Professional"/>
			<xs:enumeration value="Other Professional"/>
			<xs:enumeration value="Agriculture/Fisheries Worker"/>
			<xs:enumeration value="Domestic worker"/>
			<xs:enumeration value="Factory Worker"/>
			<xs:enumeration value="Retail Worker"/>
			<xs:enumeration value="Transportation Worker"/>
			<xs:enumeration value="Artist/Musician"/>
			<xs:enumeration value="Clerical"/>
			<xs:enumeration value="Construction"/>
			<xs:enumeration value="Education"/>
			<xs:enumeration value="Hospitality"/>
			<xs:enumeration value="Tourism"/>
			<xs:enumeration value="General Laborer"/>
			<xs:enumeration value="Unemployed"/>
			<xs:enumeration value="Retired"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndividualType">
		<xs:sequence>
			<xs:element name="Name" type="PersonName"/>
			<xs:element name="DateOfBirth" type="xs:date" nillable="false"/>
			<xs:element name="Identifier" type="NumericIdentifierType"/>
			<xs:element name="Occupation" type="OccupationType"/>
			<xs:element name="OccupationOther" type="xs:string"/>
			<xs:element name="Sex" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Male"/>
						<xs:enumeration value="Female"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegalEntityType">
		<xs:sequence>
			<xs:element name="Name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FullRegisteredName_Latin" type="xs:string"/>
						<xs:element name="FullRegisteredName_Khmer" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Identifier" type="LegalEntityNumericIdentifierType"/>
			<xs:element name="Organization">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrgForm" nillable="false">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sole Proprietorship"/>
									<xs:enumeration value="General Partnership"/>
									<xs:enumeration value="Limited Partnership"/>
									<xs:enumeration value="Private Limited"/>
									<xs:enumeration value="Public Limited"/>
									<xs:enumeration value="Other"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrgType" nillable="false">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Company"/>
									<xs:enumeration value="Branch"/>
									<xs:enumeration value="Joint Venture"/>
									<xs:enumeration value="Representative Office"/>
									<xs:enumeration value="State Firm"/>
									<xs:enumeration value="Other"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrgMainActivity" nillable="false">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Financial Services"/>
									<xs:enumeration value="Manufacturing"/>
									<xs:enumeration value="Agriculture"/>
									<xs:enumeration value="Military and National Defense"/>
									<xs:enumeration value="Government"/>
									<xs:enumeration value="Medical"/>
									<xs:enumeration value="Professional or Independent"/>
<!-- deprecated in version 1.2		<xs:enumeration value="Independent"/> -->
									<xs:enumeration value="Other"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="OrgFormOther" type="xs:string"/>
						<xs:element name="OrgTypeOther" type="xs:string"/>
						<xs:element name="OrgMainActivityOther" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneNumberType">
		<xs:sequence>
			<xs:element name="CountryCode" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,3}|NIL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocalNumber" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{6,12}|NIL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
